.bg-secondary{
    background-color:#ff0606 !important;
}

.copyright{
    background-color:#ff0606;
}

.bg-primary {
    background-color: #ffe508 !important;
  }

.br-primary{
    background-color: #1abc9c !important;
}

nav{
    font-weight:700;
}

.img-card{
    height:18vw;
    object-fit:cover;
}
